--extra-index-url https://ai2thor-pypi.allenai.org

openai>=1.0.0
dashscope

numpy>=1.25,<2
opencv-python>=4.8,<4.13
pillow
tqdm

compress-json
compress-pickle
cchardet
colorama
editdistance
shapely
scipy
moviepy
rtree
cvxpy

langchain==0.0.171
transformers
sentence-transformers
open-clip-torch

prior
procthor
objaverse
objathor
ai2thor==0+8524eadda94df0ab2dbb2ef5a577e4d37c712897

Werkzeug==2.0.1
Flask==2.0.1
